# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# _libgcc_mutex==0.1==main
# _openmp_mutex==5.1==1_gnu
# _tflow_select==2.1.0==gpu
# cudatoolkit
# cudnn
flask
flask_cors
numpy
opencv-python
pandas
requests
scipy
seaborn
tensorflow