flask-cors
tensorflow
alabaster
anaconda-client
#anaconda-navigator==2.3.1
#anaconda-project
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
atomicwrites
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts
black
bleach
bokeh
boto3
botocore